/* AboutSection.css */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.about-content {
  text-align: left;
  max-width: 600px;
}

.about-content h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.about-content p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.icon-bull,
.icon-bear {
  font-size: 10em;
  animation: icon-move 2s ease-in-out infinite alternate; /* Анимация движения иконок */
}

@keyframes icon-move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
