/* ConsultingStyle.css */


/* ConsultingStyle.css */

/* ... (ваш текущий код) ... */




/* Определение медиа-запроса для устройств с шириной экрана менее 768 пикселей (мобильные устройства) */
@media only screen and (max-width: 1100px) {

  .consulting-section {
    margin-top: 0.5vh;
  }

  .consulting-header {
    max-height: 10px;
    position: absolute;
    left: 0;
  }

  .trading-widget {
    text-align: center;
  }

  .consulting-nav a{
    justify-content: flex-start !important;
    margin-left: -10vh; /* Отрицательный отступ для сдвига влево */
    padding-left: 10vh !important;
  }
}

.navbar-toggler {
  background-color: gray;
  margin-left: 1vh;
   /* По умолчанию скрыто */
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.consulting-app {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: auto; */
}

.consulting-header {
  min-height: 320px;
  background: #847462 no-repeat center/cover url("./img/1725003_12120.svg");
  color: #847462;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  
}

.consulting-header::before {
  content: ''; /* Псевдоэлемент для затемнения изображения */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Затемнение с 30% непрозрачности */
}

.consulting-nav {
  background-color: #1a1a1a !important;
  text-align: center !important;
  display: flex !important;
  justify-content: space-around !important;
  width: 100% !important; 
}




.consulting-nav a {
  color: white !important;
  text-decoration: none !important;
  margin: 0 1em !important;
  padding: 0.5em 1em !important;
  border-radius: 5px !important;
  transition: background-color 0.3s !important;
}

.consulting-nav a:hover {
  background-color: #333;
}

.consulting-section {
  /* padding: 2em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consulting-footer {
  background-color: #1a1a1a;
  color: white;
  margin-right: 1em;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.footer-column {
  margin: 1em;
}

.footer-column h2 {
  font-size: 1.5em;
}

.iconify {
  font-size: 2em;
  margin-right: 0.5em;
}

.trading-widget{
  margin: auto;
  text-align: center;
}
